<a href="https://colab.research.google.com/github/AnuBaluguri/AI/blob/main/ASS_4_19K532.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

**IMPORRING LIBRARIES**

In [3]:
import numpy as np
import math as mt
import random
import pandas as pd

**IMPORTING** **DATA**

In [4]:
data = pd.read_excel('/content/drive/MyDrive/slr09.xls')
data.head()

*** No CODEPAGE record, no encoding_override: will use 'ascii'

     X    Y
0  7.6  157
1  7.1  174
2  8.2  175
3  7.5  188
4  7.4  171

***Outliers Treatment***

In [5]:
outliers = []
def detect_outliers(data) :
    thres=3
    mean = np.mean(data)
    std = np.std(data);
    for i in data:
      z_score = (i-mean)/std
      if(np.abs(z_score)>thres):
          outliers.append(i)
    return outliers

In [6]:
outliers_X=detect_outliers(data['X'])
outliers_Y=detect_outliers(data['Y'])
print("Outliers in column X from Z_Score method : ",outliers_X)
print("Outliers in column Y from Z_Score method : ",outliers_Y)

Outliers in column X from Z_Score method :  []
Outliers in column Y from Z_Score method :  []

***Missing Values Treatment***

In [7]:
print(data.isnull().sum())

X    0
Y    0
dtype: int64

In [9]:
m1=np.mean(data['X'])
m2=np.mean(data['Y'])
data['X'].fillna(value=m1,inplace=True)
data['Y'].fillna(value=m2,inplace=True)

***Data Split***

In [10]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(data.X,data.Y,test_size=0.50,random_state=10)
#y_train

***Initialization***

In [49]:
m=random.uniform(-0.1,0.1)
c=random.uniform(-0.1,0.1)
max_iter=1000
eta=0.01

# ***Gradient Calculation***

In [45]:
def gradient(m,c,x,y):
  m_deriv=-1*(y-m*x-c)*x
  c_deriv=-1*(y-m*x-c)
  return m_deriv,c_deriv

# **Training Using Sochastic Gradient Descent Optimization**

In [50]:
for iter in range(max_iter):
  for sample in range(x_train.shape[0]):
    del_m,del_c=gradient(m, c, x_train.iloc[sample], y_train.iloc[sample])
    m=m-eta*del_m
    c=c-eta*del_c
    
print('model parameter m and c',m,c)

model parameter m and c -9.94362973333622 232.25037578389103

# ***Model Prediction On Training Data***

In [40]:
y_train_pred=[]
for i in x_train:
  y_pre_tr=m*i-c;
  y_train_pred.append(y_pre_tr)
y_train_pred=np.array(y_train_pred)

***Model Prediction On Testing Data***

In [41]:
y_test_pred=[]
for i in x_test:
  y_tst_pre=m*i-c
  y_test_pred.append(y_tst_pre)
y_test_pred=np.array(y_test_pred)

***Error Metrics Calculation***

In [42]:
import math
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error
rmse=math.sqrt(mean_squared_error(y_train,y_train_pred))
print("Root Mean Square error : ",rmse)
mse=mean_squared_error(y_train,y_train_pred)
print("Mean Squared error : ",mse)
mae=mean_absolute_error(y_train,y_train_pred)
print("Mean Absolute error: ",mae)

Root Mean Square error :  438.0812386350804
Mean Squared error :  191915.1716440463
Mean Absolute error:  435.2132676083608

In [43]:
#Test data
import math
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error
rmse=math.sqrt(mean_squared_error(y_test,y_test_pred))
print("Root Mean Square error : ",rmse)
mse=mean_squared_error(y_test,y_test_pred)
print("Mean Squared error : ",mse)
mae=mean_absolute_error(y_test,y_test_pred)
print("Mean Absolute error: ",mae)

Root Mean Square error :  470.09839728198233
Mean Squared error :  220992.5031270885
Mean Absolute error:  467.2108975640908

***Deployment***

In [37]:
x=input("Enter pH value of well water: ")
print("X = ",x)
y=m*float(x)+c
print("Bicarbonate level of well water: ",y)

Enter pH value of well water: 6.5
X =  6.5
Bicarbonate level of well water:  204.8205161318046